<section class="about section container" id="about">
    <div class="about-container grid">
        <img src="../../../../assets/img/about.png" alt="About" class="about-img" />

        <div class="about-data">
            <h2 class="section-title about-title">
                Quem realmente somos & <br>
                porque fazemos a diferença
            </h2>

            <p class="about-desc">
                Temos mais de 4000 avaliações imparciais e nossos clientes
                confie sempre em nosso processo de fábrica e serviço de entrega.
            </p>

            <div class="about-details">
                <p class="detail-desc">
                    <i class="ri-checkbox-fill about-icon"></i>
                    Sempre entregamos no prazo.
                </p>
                <p class="detail-desc">
                    <i class="ri-checkbox-fill about-icon"></i>
                    Oferecemos manual para proteger e cuidar das suas plantas.
                </p>
                <p class="detail-desc">
                    <i class="ri-checkbox-fill about-icon"></i>
                    Vamos sempre dá suporte após a venda.
                </p>
                <p class="detail-desc">
                    <i class="ri-checkbox-fill about-icon"></i>
                    Dinheiro 100% de volta garantido.
                </p>
            </div>

            <a href="" class="button-link btn-flex">
                Comprar <i class="ri-arrow-right-down-line btn-icon"></i>
            </a>
        </div>
    </div>
</section>
