<footer class="section">
    <div class="footer-container container grid">
        <div class="footer-content">
            <a href="#" class="footer-logo">
                <i class="ri-leaf-line icon-logo"></i> origin<span>sale</span>
            </a>

            <h3 class="footer-title">Seja cliente premium e fique <br> atualizado das novidades</h3>

            <div class="footer-subscribe">
                <input type="text" class="footer-input" placeholder="Informe seu e-mail">

                <button class="button btn-flex footer-btn">
                    Inscrever
                    <i class="ri-arrow-right-up-line btn-icon"></i>
                </button>
            </div>
        </div>

        <div class="footer-content">
            <h3 class="footer-title">Nossos Endereços</h3>

            <ul class="footer-data">
                <li class="footer-item">BA - Vitória da Conquista</li>
                <li class="footer-item">BA - Salvador</li>
                <li class="footer-item">BA - Porto Seguro</li>
            </ul>
        </div>

        <div class="footer-content">
            <h3 class="footer-title">Nosso Contato</h3>

            <ul class="footer-data">
                <li class="footer-item">+55 (77) 98873-1965</li>

                <div class="footer-social">
                    <a href="https://www.facebook.com/" class="footer-link">
                        <i class="ri-facebook-fill"></i>
                    </a>
                    <a href="https://www.instagram.com/" class="footer-link">
                        <i class="ri-instagram-line"></i>
                    </a>
                    <a href="https://twitter.com/" class="footer-link">
                        <i class="ri-twitter-fill"></i>
                    </a>
                </div>
            </ul>
        </div>

        <div class="footer-content">
            <h3 class="footer-title">Nós aceitamos todos os cartões</h3>

            <div class="footer-cards">
                <img src="assets/img/cards/card1.png" alt="" class="footer-img">
                <img src="assets/img/cards/card2.png" alt="" class="footer-img">
                <img src="assets/img/cards/card3.png" alt="" class="footer-img">
                <img src="assets/img/cards/card4.png" alt="" class="footer-img">
            </div>
        </div>
    </div>

    <p class="footer-copy">&#169; Aiandra Meira. Todos os direitos reservados.</p>
</footer>
