<section class="steps section container">
    <div class="steps-bg">
        <h2 class="section-title text-center steps-title">
            Primeiros passos para <br> obter suas plantas
        </h2>

        <div class="steps-container grid">
            <div class="steps-card">
                <div class="card-number">01</div>
                <h3 class="card-title">Comprar pelo Delivery</h3>
                <p class="card-desc">
                    Nosso processo de entrega é fácil, você recebe a planta direto na sua porta.
                </p>
            </div>

            <div class="steps-card">
                <div class="card-number">02</div>
                <h3 class="card-title">Escolha a Planta</h3>
                <p class="card-desc">
                    Temos diversas variedades de plantas para sua escolha.
                </p>
            </div>

            <div class="steps-card">
                <div class="card-number">03</div>
                <h3 class="card-title">Fazer seu Pedido</h3>
                <p class="card-desc">
                    Uma vez que seu pedido é definido, passamos para a próxima etapa que é o envio.
                </p>
            </div>
        </div>
    </div>
</section>
