<section class="home" id="home">
    <div class="home-container container grid">
        <div class="home-image">
            <img src="../../../../assets/img/home.jpg" alt="banner" class="home-img" />
        </div>

        <div class="home-data">
            <h1 class="home-title">
                Plantas vão melhorar <br> sua qualidade de vida
            </h1>
            <p class="home-desc">
                Crie projetos de plantas incríveis para seus escritórios ou apartamentos.
                Adicione frescura às suas novas ideias.
            </p>
            <a href="#about" class="button btn-flex">
                Explorar <i class="ri-arrow-right-down-line btn-icon"></i>
            </a>
        </div>

        <div class="home-social">
            <span class="home-follow">Follow Us</span>

            <div class="home-links">
                <a href="https://www.facebook.com/" target="_blank" class="home-link">
                    <i class="ri-facebook-fill"></i>
                </a>
                <a href="https://www.linkedin.com/" target="_blank" class="home-link">
                    <i class="ri-linkedin-fill"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="home-link">
                    <i class="ri-instagram-fill"></i>
                </a>
            </div>
        </div>
    </div>
</section>
