<section class="contact section container" id="contact">
    <div class="contact-container grid">
        <div class="contact-box">
            <h2 class="section-title">
                Entre em Contato
            </h2>

            <div class="contact-data">
                <div class="contact-information">
                    <h3>Telefone</h3>
                    <span class="contact-desc">
                        <i class="ri-phone-line contact-icon"></i>
                        +55 (77) 98873-1965
                    </span>
                </div>

                <div class="contact-information">
                    <h3 class="contact-subtitle">E-mail</h3>
                    <span class="contact-desc">
                        <i class="ri-mail-line contact-icon"></i>
                        aiandradesigner@gmail.com
                    </span>
                </div>

                <div class="contact-information">
                    <h3 class="contact-subtitle">Localização</h3>
                    <span class="contact-desc">
                        <i class="ri-map-pin-line"></i>
                        Vitória da Conquista - BA
                    </span>
                </div>
            </div>
        </div>

        <form action="" class="contact-form">
            <div class="contact-inputs">
                <div class="contact-content">
                    <input type="email" class="contact-input" placeholder=" ">
                    <label class="contact-label">Email</label>
                </div>

                <div class="contact-content">
                    <input type="text" class="contact-input" placeholder=" ">
                    <label class="contact-label">Assunto</label>
                </div>

                <div class="contact-content contact-area">
                    <textarea name="message" class="contact-input" placeholder=" "></textarea>
                    <label class="contact-label">Mensagem</label>
                </div>
            </div>

            <button class="button btn-flex">
                Enviar Menssagem
                <i class="ri-arrow-right-up-line btn-icon"></i>
            </button>
        </form>
    </div>
</section>
